body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(161,161,168,1) 61%);
}
nav{
    animation: 1s ease-out 0s 1 slideNav;
     border-radius: 5px;
    box-shadow: rgb(12, 12, 12) 1px 5px 10px 4px;
    margin-bottom: 10px;
}

#header-title{
    animation: 1s ease-out 0s 1 slideHeaderTitle;
    cursor:default;
}
@keyframes slideHeaderTitle {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
@keyframes slideNav {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
.navbar{
    background-color: black;
}
header{
 padding: 20px;
}
.bg-image{
    background-image: url(media/header1.jpg);
    height: 400px; 
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: rgb(12, 12, 12) 1px 5px 10px 4px;
}

h1{
    text-align: center;
    font-weight: bold;
}

.input-group{
    margin: 0 auto;
    width: 40%;
}

.main-info-section, .quiz{
    margin: 20px auto;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    }

.flag-info, .map-section{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
#map{
    position: absolute;
      width: 50%;
      height: 80%;
      margin-top: -150px;
      border-radius: 5px;
      vertical-align: middle;
      
  }
.map-section h2{
    color: white;
    z-index: 0;
}

.flag{
    width: 200px;
    margin-bottom: 10px;
}

.flag img{
    width: 200px;
}
.info{
    background-color: #9c9393;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.info p{
    text-align: left;
    margin-left: 10px;
}
.info-list{
 list-style-type: none;
  padding-left: 0;
}
.info-list li{
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}
.info-list li:last-child {
    border: 0;
  }
  .info-list li:nth-child(odd) {
    background-color: #d6d6d6;
  }


.quiz-btn-div{
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
}
  
  .question, .answer{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      text-align: center;
      align-items: center;
      background-color: #927272!important;
      height: 500px;
      width: 500px;
  }

  #quiz-country{
      margin-left: auto;
      margin-right: auto;
      width: 8em
  }

  #radio{
      display: flex;
      flex-direction: column;
      font-size: 14px;
      margin: 0 auto;
  }
  .answer-btn{
     margin: 15px auto;
     width: 75%;
     color: white;
  }
  .answer-btn:hover{
    height: 40px;
    transform: scale(1.1);
    color: #fff;
    background: #111;
    border-radius: 10px;
  }
  #hint{
      display: flex;
      font-size: 30px;
      width:80%;
      height: 80%;
      text-align: center;
      align-items: center;
  }
  .blink_icon {
    float: right;
    animation: blinker 1.5s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
 
  #score-sec{
      text-align: center;
  }